
services:
  db:
    image: postgres:17
    container_name: expenses_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  migrator:
    build: .
    container_name: expenses_migrator
    depends_on:
      - db
    env_file:
      - .env
    command: >
      sh -c "echo 'Waiting for database...' &&
      sleep 3 &&
      yoyo apply -b --database $${DATABASE_URL} migrations"
    restart: "no"

  bot:
    build: .
    container_name: expenses_bot
    depends_on:
      migrator:
        condition: service_completed_successfully
    env_file:
      - .env
    command: ["python", "bot.py"]
    restart: always
    volumes:
      - ./logs:/app/logs

volumes:
  postgres_data: